<div class="sidemenu">
    <h2>Car Rental System</h2>
    <hr>
    <%= button_to 'Rentals', rentals_path, :method => "get", class:"btnto" %>
    <%= button_to 'Cars', cars_path, :method => "get", class:"btnto" %>
    <%= button_to 'Clients', clients_path, :method => "get", class:"btnto" %>
</div>

<div class="content">
    <div class="container">
        <h2>Edit Car</h2>
    </div>

    <div class="form">
        <%= render 'form' %>
    </div>

    <div class="container_back">
        <%= button_to 'Back', cars_path, method:"get", class:"btnback" %>
    </div>
</div>