<div class="sidemenu">
    <h2>Car Rental System</h2>
    <hr>
    <%= button_to 'Rentals', rentals_path, :method => "get", class:"btnto" %>
    <%= button_to 'Cars', cars_path, :method => "get", class:"btnto" %>
    <%= button_to 'Clients', clients_path, :method => "get", class:"btnto" %>
</div>

<div class="content">
    <div class="container">
        <h2>Car</h2>
    </div>

    <div class="form">
        <p>
            <strong>Plate:</strong>
            <%= @car.plate %>
        </p>
        <p>
            <strong>Car Type:</strong>
            <% if @car.cartype == 1 %>
                Urban
            <% end %>
            <% if @car.cartype == 2 %>
                Motocross
            <% end %>
            <% if @car.cartype == 3 %>
                Luxury
            <% end %>
        </p>
        <p>
            <strong>Year:</strong>
            <%= @car.year %>
        </p>
    </div>

    <div class="container_back">
        <%= button_to 'Back', cars_path, method:"get", class:"btnback", style:"float:left; margin-right: 5px" %>
        <%= button_to 'Edit', edit_car_path, method:"get", class:"btnback" %>
    </div>
</div>