<div class="sidemenu">
    <h2>Car Rental System</h2>
    <hr>
    <%= button_to 'Rentals', rentals_path, :method => "get", class:"btnto" %>
    <%= button_to 'Cars', cars_path, :method => "get", class:"btnto" %>
    <%= button_to 'Clients', clients_path, :method => "get", class:"btnto" %>
</div>

<div class="content">
    <div class="container">
        <h2>Rentals</h2>
    </div>

    <div class="container_new">
        <%= button_to 'New Rental', new_rental_path, method:"get", class:"btnnew" %>
    </div>
    
    <div class="table-wrapper">
        <table>
            <tr class="thead">
                <th>Client</th>
                <th>Car</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th colspan="3"></th>
            </tr>
        
            <% @rental.each do |rental| %>
                <tr class="tbody">
                    <td><%= rental.client.name %></td>
                    <td><%= rental.car.plate %></td>
                    <td><%= rental.startdate.strftime("%d/%m/%y") %></td>
                    <td><%= rental.enddate.strftime("%d/%m/%y") %></td>
                    <td><%= link_to 'Show', rental_path(rental) %></td>
                    <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
                    <td><%= link_to 'Delete', rental_path(rental),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </table>
    </div>
    
    <div class="container_back">
        <%= button_to 'Back', root_path, method:"get", class:"btnback" %>
    </div>
</div>