<div class="container">
    <h2>Rental</h2>
</div>

<p>
    <strong>Client:</strong>
    <%= @rental.client.name %>
</p>
<p>
    <strong>Car:</strong>
    <%= @rental.car.plate %>
</p>
<p>
    <strong>Start Date:</strong>
    <%= @rental.startdate.strftime("%d/%m/%y") %>
</p>
<p>
    <strong>End Date:</strong>
    <%= @rental.enddate.strftime("%d/%m/%y") %>
</p>

<div class="container_back">
    <%= button_to 'Back', rentals_path, method:"get", class:"btnback", style:"float:left; margin-right: 5px;" %>
    <%= button_to 'Edit', edit_rental_path, method:"get", class:"btnback" %>
</div>