<div class="container">
    <h2>Client</h2>
</div>

<p>
    <strong>Name:</strong>
    <%= @client.name %>
</p>
<p>
    <strong>Address:</strong>
    <%= @client.address %>
</p>
<p>
    <strong>CPF:</strong>
    <%= @client.cpf %>
</p>
<p>
    <strong>RG:</strong>
    <%= @client.rg %>
</p>

<div class="container_back">
    <%= button_to 'Edit', clients_path, method:"get", class:"btnback", style:"float:left; margin-right: 5px;" %>
    <%= button_to 'Back', edit_client_path, method:"get", class:"btnback" %>
</div>